<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="googlechrome" />
	  <package id="firefox" />
	  <package id="7zip" />
	  <package id="jre8" />
	  <package id="notepadplusplus" />
	  <package id="vlc" />
	  <package id="gimp" />
	  <package id="windirstat" />
	  <package id="steam" />
	  <package id="qbittorrent" />
	  <package id="spotify" />
	  <package id="geforce-experience" />
	  <package id="geforce-game-ready-driver" />
	  <package id="discord.install" />
	  <package id="everything" />
	  <package id="lightshot" />
	  <package id="itunes" />
	  <package id="putty" />
	  <package id="winscp.install" />
	  <package id="chocolateygui" />
	  <package id="atom" />
    </packages>
	
	
	                                  